<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryID</key>
		<string>1</string>
		<key>cheerFlag</key>
		<false/>
		<key>classname</key>
		<string>GocciAddRestaurantTask</string>
		<key>comment</key>
		<string></string>
		<key>identifier</key>
		<string>GocciAddRestaurantTask</string>
		<key>kakaku</key>
		<string></string>
		<key>lat</key>
		<real>138</real>
		<key>lon</key>
		<real>35</real>
		<key>restName</key>
		<string>渒爴摧燍茖纁奭纸尧尮罁齸猩戠鏷襶鷂氵秲憏</string>
		<key>retrys</key>
		<integer>5</integer>
		<key>state</key>
		<string>FAILED_NETWORK</string>
		<key>timeCreation</key>
		<integer>1449828266</integer>
		<key>timeGiveUp</key>
		<integer>1450433066</integer>
		<key>timeNextTry</key>
		<integer>1449828284</integer>
		<key>timestamp</key>
		<string>2015-12-11-10-04-26</string>
		<key>userID</key>
		<string>949</string>
		<key>videoFilePath</key>
		<string>/user_posted_videos/2015-12-11-10-04-26_949.mp4</string>
	</dict>
</array>
</plist>
